@use 'variables' as *;

.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    padding: 10px 0;
    top: 0;
    left: 0;
    transition: top $transitionDuration;

    &__logo {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 26px;
        font-weight: bold;
        color: var(--font);
        span {
            display: block;
            width: 30px;
            min-width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            background-color: #4F83E1;
        }
    }

    &__burger {
        display: none;
    }

    @media (max-width:768px) {
        &__burger {
            min-width: 20px;
            width: 40px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            z-index: 11;
        
            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $buttonBgColor;
                position: relative;
                transition-duration: $transitionDuration;
        
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $buttonBgColor;
                    transition-duration: $transitionDuration;
                }
        
                &::before {
                    top: -10px; 
                }
        
                &::after {
                    top: 10px; 
                }
            }
    
            &.active span {
                background-color: transparent; 
        
                &::before {
                    top: 0;
                    transform: rotate(45deg); 
                }
        
                &::after {
                    top: 0;
                    transform: rotate(-45deg); 
                }
            }
        }
    }
}