<section class="contacts" id="contacts">
    <h2 class="contacts__title">📬 Контакти</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            🔗 <strong>GitHub:</strong>
            <a href="https://github.com/andreyk1n" target="_blank" rel="noopener noreferrer">
                    github.com/andreyk1n
            </a>
        </li>
        <li class="contacts__item">
            💼 <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/andrii-panasiuk-61786029a/" target="_blank" rel="noopener noreferrer">
                linkedin.com/in/andrii-panasiuk-61786029a/
            </a>
        </li>
        <li class="contacts__item">
            ✉️ <strong>Email:</strong>
            <a href="mailto:andrii.panasiuk2002@gmail.com">andrii.panasiuk2002@gmail.com</a>
        </li>
        <li class="contacts__item">
            🌐 <strong>Портфоліо:</strong>
            <a href="https://andreyk1n.github.io/My-portfolio/index.html" target="_blank" rel="noopener noreferrer">
                andreyk1n.github.io/My-portfolio/index.html
            </a>
        </li>
    </ul>
</section>