<div class="sidebar">
  @@include('partials/header.html')
  <a href="index.html" class="sidebar__link">Головна</a>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон vanilla</p>
    <div class="dropdown__content">
      <a href="structure-v.html" class="dropdown__link">Структура</a>
      <a href="gulpfile-v.html" class="dropdown__link">Gulpfile</a>

      <div class="dropdown">
        <p class="dropdown__title">Функціональні модулі</p>
        <div class="dropdown__content">
          <a href="burger-menu-v.html" class="dropdown__link">Бургер меню</a>
          <a href="scroll-header-v.html" class="dropdown__link">Приховування хедера при скроллі</a>
          <a href="#" class="dropdown__link">Аккордіон</a>
          <a href="#" class="dropdown__link">Таби</a>
          <a href="#" class="dropdown__link">Селект</a>
          <a href="#" class="dropdown__link">Тоггл кнопка</a>
          <a href="#" class="dropdown__link">Функціонал/таймер модального вікна</a>
          <a href="#" class="dropdown__link">Визначення поточної сторінки</a>
          <a href="#" class="dropdown__link">Відстеження елементів для анімації</a>
          <a href="#" class="dropdown__link">Анімація цифрового лічильника</a>
          <a href="#" class="dropdown__link">Адаптивне переміщення елементів</a>
        </div>
      </div>
      <a target="_blank" href="https://github.com/andreyk1n/starter-theme" class="dropdown__link">Завантажити тему</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон WordPress</p>
    <div class="dropdown__content">
      <a href="#" class="dropdown__link">test 1</a>
      <a href="#" class="dropdown__link">test 2</a>

      <div class="dropdown">
        <p class="dropdown__title">test 3</p>
        <div class="dropdown__content">
          <a href="#" class="dropdown__link">test 11</a>
          <a href="#" class="dropdown__link">test 21</a>
          <a href="#" class="dropdown__link">test 31</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон React</p>
    <div class="dropdown__content">
      <a href="#" class="dropdown__link">test 1</a>
      <a href="#" class="dropdown__link">test 2</a>

      <div class="dropdown">
        <p class="dropdown__title">test 3</p>
        <div class="dropdown__content">
          <a href="#" class="dropdown__link">test 11</a>
          <a href="#" class="dropdown__link">test 21</a>
          <a href="#" class="dropdown__link">test 31</a>
        </div>
      </div>
    </div>
  </div>

  <a href="" class="sidebar__link">phpmailer</a>

  <a href="" class="sidebar__link">Корисні посилання</a>

  <a href="" class="sidebar__link">Контакти</a>


</div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('.dropdown__title').forEach(title => {
      title.addEventListener('click', e => {
        e.stopPropagation(); // важливо: не дозволяємо події піднятись догори
        const dropdown = title.closest('.dropdown');
        dropdown.classList.toggle('dropdown--active');
      });
    });
  });
</script>