<div class="sidebar">
  @@include('partials/header.html')
  <a href="index.html" class="sidebar__link">Головна</a>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон vanilla</p>
    <div class="dropdown__content">
      <a href="instruction-v.html" class="dropdown__link">Інструкція</a>
      <a href="structure-v.html" class="dropdown__link">Структура</a>
      <a href="gulpfile-v.html" class="dropdown__link">Gulpfile</a>
      <div class="dropdown">
        <p class="dropdown__title">Функціональні модулі</p>
        <div class="dropdown__content">
          <a href="burger-menu-v.html" class="dropdown__link">Бургер меню</a>
          <a href="scroll-header-v.html" class="dropdown__link">Приховування хедера при скроллі</a>
          <a href="accordion-v.html" class="dropdown__link">Аккордіон</a>
          <a href="tabs-v.html" class="dropdown__link">Таби</a>
          <a href="select-v.html" class="dropdown__link">Кастомний селект</a>
          <a href="modal-timer-v.html" class="dropdown__link">Функціонал/таймер модального вікна</a>
          <a href="current-page-v.html" class="dropdown__link">Визначення поточної сторінки</a>
          <a href="element-watcher-v.html" class="dropdown__link">Відстеження елементів для анімації</a>
          <a href="digit-counter-v.html" class="dropdown__link">Анімація цифрового лічильника</a>
          <a href="move-to-v.html" class="dropdown__link">Адаптивне переміщення елементів</a>
          <a href="lazy-load-v.html" class="dropdown__link">Відкладене завантаження зображень</a>
        </div>
      </div>
      <a target="_blank" href="https://github.com/andreyk1n/starter-theme" class="dropdown__link">Завантажити тему</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон WordPress</p>
    <div class="dropdown__content">
      <a href="theme-structure.html" class="dropdown__link">Структура теми</a>
      <a href="enqueue-scripts.html" class="dropdown__link">Підключення стилів та скриптів</a>
      <a href="the-loop.html" class="dropdown__link">Цикл WP</a>
      <a href="acf-loop.html" class="dropdown__link">Цикл ACF</a>
      <a href="pagination.html" class="dropdown__link">Пагінація</a>
      <a href="custom-post-types.html" class="dropdown__link">Кастомні типи постів</a>
      <a href="register-menus.html" class="dropdown__link">Меню</a>
      <a href="sidebars-widgets.html" class="dropdown__link">Сайдбари / Віджети</a>
      <a href="acf-blocks.html" class="dropdown__link">Блоки ACF</a>
      <a href="shortcodes.html" class="dropdown__link">Шорткоди</a>
      <a href="ajax-load-more.html" class="dropdown__link">AJAX завантаження</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropdown__title">Стартовий шаблон React</p>
    <div class="dropdown__content">
      <a href="#" class="dropdown__link">test 1</a>
      <a href="#" class="dropdown__link">test 2</a>

      <div class="dropdown">
        <p class="dropdown__title">test 3</p>
        <div class="dropdown__content">
          <a href="#" class="dropdown__link">test 11</a>
          <a href="#" class="dropdown__link">test 21</a>
          <a href="#" class="dropdown__link">test 31</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropdown__title">Готові рішення</p>
    <div class="dropdown__content">
      <a href="modal-demos.html" class="dropdown__link">Модальні вікна(попапи)</a>
      <a href="responsive-src-demos.html" class="dropdown__link">Адаптивне завантаження зображень</a>
    </div>
  </div>

  <a href="phpmailer.html" class="sidebar__link">PHPMailer</a>

  <a href="useful-links.html" class="sidebar__link">Корисні посилання</a>

  <a href="#contacts" class="sidebar__link">Контакти</a>


</div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('.dropdown__title').forEach(title => {
      title.addEventListener('click', e => {
        e.stopPropagation(); // важливо: не дозволяємо події піднятись догори
        const dropdown = title.closest('.dropdown');
        dropdown.classList.toggle('dropdown--active');
      });
    });
  });
</script>