<footer class="footer">
  <div class="footer__container">
    <a href="https://github.com/andreyk1n/starter-theme" target="_blank">Стартова тема</a>
    <a href="mailto:andrii.panasiuk2002@gmail.com">Gmail</a>
  </div>
</footer>


<!-- У вашому HTML-файлі -->
<script src="js/functions/lazyImg.js" defer></script>
<script type="module" src="js/app.js"></script>
<script>
  const currentPath = window.location.pathname.split('/').pop() || 'index.html';
  document.querySelectorAll('.sidebar__link').forEach(link => {
    if (link.getAttribute('href') === currentPath) link.classList.add('currentPage');
  });

  const tempLinks = document.querySelectorAll('.temp');
  tempLinks.forEach(link => {
    link.addEventListener('click', event => {
      event.preventDefault();
      window.location.href = 'temp.html';
    });
  });

  // // Знаходимо елемент з ID sidebar__trigger
  // const sidebarTrigger = document.getElementById('sidebar__trigger');

  // // Знаходимо елемент з ID sidebar
  // const sidebar = document.getElementById('sidebar');

  // // Додаємо обробник події "click" до тригера
  // sidebarTrigger.addEventListener('click', () => {
  //   // Тоглимо клас "active" на елементі sidebar
  //   sidebar.classList.toggle('active');
  // });
  // Функція для копіювання тексту з елемента code
  function copyCode(targetId) {
    const codeElement = document.getElementById(targetId);

    if (codeElement) {
      const codeText = codeElement.innerText; // Отримуємо текст з елемента
      navigator.clipboard.writeText(codeText)
        .then(() => {
          console.log("Код скопійовано успішно!");
          alert("Код скопійовано успішно!");
        })
        .catch((err) => {
          console.error("Помилка копіювання: ", err);
          alert("Не вдалося скопіювати код.");
        });
    } else {
      console.warn("Елемент із заданим ID не знайдено.");
      alert("Елемент із заданим ID не знайдено.");
    }
  }



</script>
</body>

</html>