<aside class="sidebar">
    <nav class="sidebar__nav">
      <a href="index.html" class="sidebar__link">Вступ</a>
      <a href="get_started.html" class="sidebar__link">Встановлення і запуск</a>
      <a href="structure.html" class="sidebar__link">Структура</a>
      <a href="mixins.html" class="sidebar__link">Міксини</a>
      <a href="current_page.html" class="sidebar__link">Визначення поточної сторінки</a>
      <a href="#" class="sidebar__link">Стікі хедер</a>
      <a href="#" class="sidebar__link">Бургер меню</a>
      <a href="#" class="sidebar__link">Спостерігач елементів</a>
      <a href="#" class="sidebar__link">Динамічне перміщення</a>
      <a href="#" class="sidebar__link">Аккордіон</a>
      <a href="#" class="sidebar__link">Таби</a>
      <a href="#" class="sidebar__link">Селект</a>
      <a href="#" class="sidebar__link">Анімація цифрового лічильника</a>
      <a href="#" class="sidebar__link">Таймер для модального вікна</a>
      <a href="#" class="sidebar__link">Контакти</a>
      <p>v.1.4.4</p>
    </nav>
  </aside>