<aside class="sidebar">
    <nav class="sidebar__nav">
      <a href="#" class="sidebar__link">Introduction</a>
      <a href="#" class="sidebar__link">Getting Started</a>
      <a href="#" class="sidebar__link">Installation</a>
      <a href="#" class="sidebar__link">Features</a>
      <a href="#" class="sidebar__link">API Reference</a>
      <a href="#" class="sidebar__link">Examples</a>
      <a href="#" class="sidebar__link">FAQ</a>
      <a href="#" class="sidebar__link">Contact</a>
    </nav>
  </aside>