@use 'variables' as *;
.sidebar {
    position: fixed;
    top: 0;
    min-width: 280px;
    width: 280px;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    max-height: 98vh;

    @media (max-width: 768px) {
        max-height: 100svh;
    }
    overflow: auto;

    a, p {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
        margin-bottom: 10px;
        border-radius: 4px;

        &:hover {
            background-color: #484848;
        }
    }

    a {
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1200px) {
    .sidebar {
        z-index: 10;
        transition-duration: .5s;
        left: -200%;
        &.active {
            left: 0%;
        }

        &__nav {
            margin-top: 80px;
            a {
                svg {
                display: none;
                }
            }
        }
    }
}