@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'sidebar';


// Підключення стилів аккордіону
// @use 'accordion';

// Підключення стилів табів
// @use 'tabs';

// Підключення стилізації модальних вікон та поп-апів
@use 'modal';

// Підключення базової стилізації кастомного селекту
// @use 'customSelect';

// За потреби можна підключати анімації за клосом
@use 'animation';

// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    &__container {
        box-sizing: border-box;
        display: flex;
        gap: 40px;
        background-color: #f4f4f9;
        font-size: 16px;
        line-height: 1.8;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
    }
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}


// Застосування стилів для посилання: колір, час анімації, активний стан.
.content__link {
    text-decoration: underline;
    color: #484848;
    font-size: 18px;
    font-weight: bold;
}

.content__link:hover {
    text-decoration: none;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.button:hover {
    background-color: $buttonHover;
}

.button:active {
    background-color: $buttonActive;
}

a {
    color: $fontColor;
    text-decoration: none;
}

// Загальні стилі для списків
ol,
ul {
    padding-left: 20px;

    li {
        padding-bottom: 15px;

        &>.code {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

h1 {
    @include adaptiveValue('font-size', 45px, 20px);
    @include adaptiveValue('line-height', 45px, 20px);
    margin: 20px 0 20px 0;
    text-decoration: underline;
}

.currentPage {
    background-color: #484848;
}

.content {
    flex-grow: 1;
    padding: 1rem;
    color: #444;
    margin-left: 320px;
    padding: 0 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    code {
        background-color: #272822;
        color: #f8f8f2;
        font-family: 'Courier New', Courier, monospace;
        padding: 0.25em 0.5em;
        overflow-y: auto;
    }

    pre {
        background-color: #272822;
        color: #f8f8f2;
        padding: 1rem;
        overflow-x: auto;
        max-height: 600px;

        code {
            background: none;
            padding: 0;
        }
    }

    @media (max-width: 1200px) {
        margin-left: 0;
        margin-top: 100px;
        padding: 0;
    }
}

blockquote {
    padding-left: 20px;
    border-left: 3px solid $fontColor;
}

.contact {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.contact__button {
    color: #fff;
    background-color: #444;
    width: fit-content;
    padding: 6px 20px;
    transition-duration: $transitionDuration;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.contact__button:hover {
    opacity: .5;
}

.copyButton {
    color: #fff;
    background-color: #272822;
    width: fit-content;
    padding: 6px 20px;
    transition-duration: $transitionDuration;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.copyButton:hover {
    opacity: .7;
}

.mt20 {
    margin-top: 20px;
}